<app-menu></app-menu>
<div class="wrapper" style="width: 60%; margin-left: auto; margin-right: auto;">
    <h4 class="title">Parámetros</h4>
    <p class = "descripcion">Modificación y/o creación de parámetros del sistema.</p>
    <div class="table table-striped">
        <table class="table">
            <thead class="table-sm">
                <tr>
                    <th>Id</th>
                    <th>Parametro</th>
                    <th>Valor</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let parametro of parametros">
                    <td>{{parametro.id}}</td>
                    <td>{{parametro.parametro}}</td>
                    <td>{{parametro.valor}}</td>
                    <td><button class="btn btn-outline-warning" routerLink="/parametros/editar/{{parametro.id}}"><i class="fa-solid fa-pen"></i></button></td>
                    <td><button class="btn btn-outline-danger" (click)="confirmarEliminar(parametro)"><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mx-auto" style="width: 200px;">
        <button type="button" class="btn btn-success"  [routerLink]="['/parametros/crear']">Crear Parametro</button>
      </div>
</div>

<div class="overlay" *ngIf="isLoading">
    <div class="spinner">
        <div class="loader"></div>
        <p>Loading...</p>
    </div>
</div>